<ul class="navbar-nav navbar-right mx-1 my-2 ml-auto">
    <li class = 'nav-item'>
        <form action="">
            <input type="text" placeholder="Search">
            <button class = 'btn btn-primary'>Search</button>
        </form>
    </li>
    <li class = 'nav-item'>
        <a href="/login" class = 'nav-link btn btn-outline-info mx-1'><i class="fas fa-user-plus"></i>Login</a>
    </li>
    <li class = 'nav-item'>
        <a href="/signup" class = 'nav-link btn btn-outline-primary mx-1'><i class="fas fa-sign-in-alt"></i>Signup</a>
    </li>
</ul>