<ul class="navbar-nav navbar-right mx-1 my-2 ml-auto">
    <form action="" class="form-inline mx-1">
        <div class="active-cyan-3 active-cyan-4">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
    </form>
    <li class = 'nav-item'>
        <a href="/login" class = 'nav-link btn btn-outline-info mx-1'><i class="fas fa-user-plus"></i>Login</a>
    </li>
    <li class = 'nav-item'>
        <a href="/signup" class = 'nav-link btn btn-outline-primary mx-1'><i class="fas fa-sign-in-alt"></i>Signup</a>
    </li>
</ul>