<div class = 'container mt-4'>
    <div class = 'row'>
        {% if recipes %}
        {% for recipe in recipes %}
        <div class = 'col-4 bg-light'>
            <a style="display:block" href="recipes/{{ recipe.id }}">
                <img src = "{{recipe['image']}}" alt = "{{recipe['title']}}" class = 'img-fluid img-thumbnail'>
            </a>
            <p>Name:{{recipe['title']}}</a></p>
        </div>
        {% endfor %}
        {% else %}
        <div class = 'col-4 bg-light'>
            No Result Found...
        </div>
        {% endif %}
    </div>
</div>