<div class = 'container mt-4 fluid'>
    <div class = 'row'>
        <div class = 'col-auto'>
            <div class = 'container mt-4 py-2 bg-light fluid'>
                <h1 class = 'text-center'>Instructions</h1>
                <ul class = 'list-group'>
                    <li class = 'list-group-item'>
                        <ol class = 'list-group'>
                            {% for step in recipe['instructions'] %}
                                <li class = 'list-group-item'>
                                    {{step}}
                                </li>
                            {% endfor %}
                            </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>