{% extends 'base.html' %}
{% block title %}
Recipe
{% endblock %}
{% block nav %}
{% include 'user_nav_section.html' %}
{% endblock %}
{% block content %}

<div class = 'container mt-4 fluid'>
    <div class = 'row bg-light'>
        <div class = 'col-10 m-4 p-4'>
            <img src = "{{recipe['image']}}" alt = "{{recipe['name']}}" class = 'img-fluid img-thumbnail mb-2'>
            <p>{{recipe['name']}}</p>
        </div>
    </div>
</div>

{% include 'ingredient.html' %}
{% include 'instruction.html' %}
{% endblock %}